<a href="https://colab.research.google.com/github/sbj6364/coffeeshop-commercial-analysis/blob/main/2_extract_info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2번 : 원하는 정보 추출하기 (1)

이제부터 이 데이터에서 주요 커피 프랜차이즈에 대한 정보를 조사해보고자 합니다.

여러 항목이 섞여있는 데이터 속에서 커피전문점 관련 정보만을 찾아내는 일을 해야합니다.

불러온 데이터에서 커피전문점과 관련된 row들을 찾아서 새로운 DataFrame인 `df_cafes`으로 정리하는 코드를 작성하세요.

In [1]:
import pandas as pd
import numpy as np

In [20]:
d2 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_강원_202012.csv', sep='|')
d3 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_경기_202012.csv', sep='|')
d4 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_경남_202012.csv', sep='|')
d5 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_경북_202012.csv', sep='|')
d6 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_광주_202012.csv', sep='|')
d7 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_대구_202012.csv', sep='|')
d8 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_대전_202012.csv', sep='|')
d9 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_부산_202012.csv', sep='|')
d10 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_서울_202012.csv', sep='|')
d11 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_세종_202012.csv', sep='|')
d12 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_울산_202012.csv', sep='|')
d13 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_인천_202012.csv', sep='|')
d14 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_전남_202012.csv', sep='|')
d15 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_전북_202012.csv', sep='|')
d16 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_제주_202012.csv', sep='|')
d17 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_충남_202012.csv', sep='|')
d18 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_충북_202012.csv', sep='|')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df = pd.DataFrame(d2)
df = df.append(pd.DataFrame(d3))
df = df.append(pd.DataFrame(d4))
df = df.append(pd.DataFrame(d5))
df = df.append(pd.DataFrame(d6))
df = df.append(pd.DataFrame(d7))
df = df.append(pd.DataFrame(d8))
df = df.append(pd.DataFrame(d9))
df = df.append(pd.DataFrame(d10))
df = df.append(pd.DataFrame(d11))
df = df.append(pd.DataFrame(d12))
df = df.append(pd.DataFrame(d13))
df = df.append(pd.DataFrame(d14))
df = df.append(pd.DataFrame(d15))
df = df.append(pd.DataFrame(d16))
df = df.append(pd.DataFrame(d17))
df = df.append(pd.DataFrame(d18))
df

In [58]:
is_cafe = df['상권업종중분류명'] == '커피점/카페'
df_cafes = df[is_cafe]
df_cafes = df_cafes[['상호명','지점명',
       '상권업종대분류명', '상권업종중분류명',
       '시도명', '시군구명', '행정동명',
       '위도', '경도']]
       
df_cafes = df_cafes.reset_index(drop=True)
df_cafes.head()

        상호명     지점명 상권업종대분류명 상권업종중분류명  시도명 시군구명 행정동명         위도          경도
0  키즈까페아이사랑     NaN       음식   커피점/카페  강원도  강릉시  성덕동  37.759315  128.919456
1      카페마실     NaN       음식   커피점/카페  강원도  원주시  단계동  37.349772  127.930297
2        힐링     NaN       음식   커피점/카페  강원도  원주시  단구동  37.319958  127.958442
3       드롭탑  속초엑스포점       음식   커피점/카페  강원도  속초시  조양동  38.191024  128.586322
4     SHIMS     NaN       음식   커피점/카페  강원도  원주시  행구동  37.344340  128.008146