<a href="https://colab.research.google.com/github/sbj6364/coffeeshop-commercial-analysis/blob/main/3_extract_info2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3번 : 원하는 정보 추출하기 (2)

우리는 이제 전국에 있는 소상공인 상호중에 커피점/카페에 해당하는 데이터를 얻었습니다.

이 데이터들 중에서 서울에 있는 커피전문점들에 대한 정보만 떼어내서 알아보고 싶습니다.

서울 지역에 있는 커피전문점만 추출해서 새로운 DataFrame인 `df_cafes_seoul`에 저장하는 코드를 작성하세요.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
!unzip '/content/drive/MyDrive/coffeeshop-analysis/소상공인시장진흥공단_상가(상권)정보_20201231.zip'

In [ ]:
d1 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_강원_202012.csv', sep='|')
d2 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_경기_202012.csv', sep='|')
d3 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_경남_202012.csv', sep='|')
d4 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_경북_202012.csv', sep='|')
d5 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_광주_202012.csv', sep='|')
d6 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_대구_202012.csv', sep='|')
d7 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_대전_202012.csv', sep='|')
d8 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_부산_202012.csv', sep='|')
d9 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_서울_202012.csv', sep='|')
d10 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_세종_202012.csv', sep='|')
d11 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_울산_202012.csv', sep='|')
d12 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_인천_202012.csv', sep='|')
d13 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_전남_202012.csv', sep='|')
d14 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_전북_202012.csv', sep='|')
d15 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_제주_202012.csv', sep='|')
d16 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_충남_202012.csv', sep='|')
d17 = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_충북_202012.csv', sep='|')

In [17]:
df = pd.DataFrame(d1)
df = df.append(pd.DataFrame(d2))
df = df.append(pd.DataFrame(d3))
df = df.append(pd.DataFrame(d4))
df = df.append(pd.DataFrame(d5))
df = df.append(pd.DataFrame(d6))
df = df.append(pd.DataFrame(d7))
df = df.append(pd.DataFrame(d8))
df = df.append(pd.DataFrame(d9))
df = df.append(pd.DataFrame(d10))
df = df.append(pd.DataFrame(d11))
df = df.append(pd.DataFrame(d12))
df = df.append(pd.DataFrame(d13))
df = df.append(pd.DataFrame(d14))
df = df.append(pd.DataFrame(d15))
df = df.append(pd.DataFrame(d16))
df = df.append(pd.DataFrame(d17))

In [23]:
is_cafe = df['상권업종중분류명'] == '커피점/카페'
df_cafes = df[is_cafe]
df_cafes = df_cafes[['상호명','지점명',
       '상권업종대분류명', '상권업종중분류명',
       '시도명', '시군구명', '행정동명',
       '위도', '경도']]
       
df_cafes = df_cafes.reset_index(drop=True)
df_cafes.head()

        상호명     지점명 상권업종대분류명 상권업종중분류명  시도명 시군구명 행정동명         위도          경도
0  키즈까페아이사랑     NaN       음식   커피점/카페  강원도  강릉시  성덕동  37.759315  128.919456
1      카페마실     NaN       음식   커피점/카페  강원도  원주시  단계동  37.349772  127.930297
2        힐링     NaN       음식   커피점/카페  강원도  원주시  단구동  37.319958  127.958442
3       드롭탑  속초엑스포점       음식   커피점/카페  강원도  속초시  조양동  38.191024  128.586322
4     SHIMS     NaN       음식   커피점/카페  강원도  원주시  행구동  37.344340  128.008146

In [25]:
is_in_seoul = df_cafes['시도명'] == '서울특별시'
df_cafes_seoul = df_cafes[is_in_seoul]
df_cafes_seoul = df_cafes_seoul.drop(['위도', '경도'], axis = 1)

df_cafes_seoul = df_cafes_seoul.reset_index(drop=True)
df_cafes_seoul.head()

        상호명          지점명 상권업종대분류명 상권업종중분류명    시도명 시군구명  행정동명
0       커피빈  코리아대학로대명거리점       음식   커피점/카페  서울특별시  종로구   혜화동
1     요거프레소          쌍문점       음식   커피점/카페  서울특별시  도봉구  쌍문2동
2  406번째스토브          NaN       음식   커피점/카페  서울특별시  양천구   목1동
3     로얄커피숍          NaN       음식   커피점/카페  서울특별시  강동구  성내2동
4    빈트리망원점          망원점       음식   커피점/카페  서울특별시  마포구  망원1동